{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "no-console": [2, { "allow": ["info", "error"] }],
    "max-len": [2, 120, 2, {"ignoreComments": true, "ignoreUrls": true}],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}],
    "space-before-function-paren": [2, { "anonymous": "never", "named": "never" }],
    "indent": ["error", 2],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "valid-jsdoc": "error",
    "no-var": "error",
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "require" : true,
    "console" : true,
    "__dirname" : true
  }
}
